body{

    margin:0;

    background:#f2f4f7;

    font-family:Arial, Helvetica, sans-serif;

}

.encabezado{

    background:#d60000;

    color:white;

    padding:20px 40px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.titulo{

    font-size:28px;

    font-weight:bold;

}

.subtitulo{

    font-size:15px;

    opacity:.9;

}

.contenedor{

    width:95%;

    margin:30px auto;

}

.barra-superior{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.btn{

    background:#d60000;

    color:white;

    text-decoration:none;

    padding:12px 20px;

    border-radius:8px;

    font-weight:bold;

}

.btn:hover{

    background:#b40000;

}

.buscar{

    width:350px;

    padding:10px;

    border:1px solid #ccc;

    border-radius:6px;

}

table{

    width:100%;

    border-collapse:collapse;

    background:white;

    box-shadow:0 2px 8px rgba(0,0,0,.1);

}

th{

    background:#d60000;

    color:white;

    padding:14px;

}

td{

    padding:12px;

    border-bottom:1px solid #ececec;

    text-align:center;

}

tr:hover{

    background:#fafafa;

}

.acciones{

    font-size:20px;

}