<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>KERUI DIGITAL FORMS</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/historial.css') }}">

</head>

<body>

<div class="encabezado">

    <div>

        <div class="titulo">
            KERUI DIGITAL FORMS
        </div>

        <div class="subtitulo">
            Centro de Control de Órdenes de Mantenimiento
        </div>

    </div>

</div>

<div class="contenedor">

<div class="barra-superior">

    <a href="/" class="btn">
        ➕ Nueva Orden
    </a>

    <input
        class="buscar"
        placeholder="Buscar una Orden...">

</div>

<table>

<tr>

    <th>Orden</th>

    <th>Fecha</th>

    <th>Técnico</th>

    <th>Acciones</th>

</tr>

{% for orden in ordenes %}

<tr>

    <td>{{ orden[1] }}</td>

    <td>{{ orden[2] }}</td>

    <td>{{ orden[4] }} {{ orden[5] }}</td>

    <td class="acciones">

    <a href="/orden/{{ orden[1] }}">👁</a>

    📄

    🗑

    </td>

</tr>

{% endfor %}

</table>

</div>

</body>

</html>