<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>KERUI DIGITAL FORMS</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/estilos.css') }}">

</head>

<body>

<form method="POST">

<div class="hoja">

        <!-- ========================================= -->
        <!-- ENCABEZADO -->
        <!-- ========================================= -->

        <div class="encabezado">

            <!-- LOGO -->

            <div class="logo">

                <img
                    src="{{ url_for('static', filename='img/logo_kerui.png') }}"
                    alt="KERUI">

            </div>

            <!-- TÍTULO -->

            <div class="titulo">

                ORDEN DE MANTENIMIENTO

            </div>

            <!-- DATOS DEL DOCUMENTO -->

            <div class="datos">

                <div class="celda">
                    <strong>Código</strong>
                </div>

                <div class="celda">
                    K5-F-05
                </div>

                <div class="celda">
                    <strong>Fecha</strong>
                </div>

                <div class="celda">
                    10/11/2021
                </div>

                <div class="celda">
                    <strong>Versión</strong>
                </div>

                <div class="celda">
                    3
                </div>

            </div>

        </div>

        <!-- ========================================= -->
        <!-- SECCIÓN 1 -->
        <!-- ========================================= -->

        <div class="seccion">

            1. INFORMACIÓN GENERAL

    </div>

    <table class="tabla-info">

    <tr>

        <td rowspan="2" class="gris etiqueta">
            Descripción de la Orden De Trabajo:
        </td>

        <td rowspan="2" class="col-descripcion">
            <textarea name="descripcion_orden"></textarea>
        </td>

        <td class="gris etiqueta">
            Nº de Orden de Trabajo:
        </td>

        <td class="col-orden">
            <input
                type="text"
                class="campo numero-ot"
                name="numero_ot"
                value="{{ numero_ot }}"
                readonly>
            
        </td>

    </tr>

    <tr>
        

        <td class="gris etiqueta">
            Tipo De Orden De Trabajo:
        </td>
        
        <td class="col-prioridad">

                <select class="campo" name="tipo_orden">

                    <option></option>
                    <option>PREVENTIVO</option>
                    <option>PREDICTIVO</option>
                    <option>CORRECTIVO</option>
                    <option>MODIFICACIÓN</option>
                    <option>OTROS...</option>

                </select>

            </td>

    </tr>

    <tr>

        <td rowspan="3" class="gris etiqueta centro">
            Operación
        </td>

        <td>
            <input
                type="text"
                class="campo"
                name="operacion1">
        </td>

        <td class="gris etiqueta centro">
            Frecuencia
        </td>
        
        <td class="col-prioridad">

                <select class="campo" name="frecuencia1">

                    <option></option>
                    <option>100HR</option>
                    <option>300HR</option>
                    <option>400HR</option>
                    <option>1000HR</option>
                    <option>1500HR</option>
                    <option>2000HR</option>
                    <option>3000HR</option>
                    <option>4000HR</option>
                    <option>8000HR</option>
                    <option>12000HR</option>
                    <option>OVERHAUL</option>



                    .....
                </select>

            </td>
    </tr>

    <tr>

        <td>
            <input
                type="text"
                class="campo"
                name="operacion2">
        </td>

        <td class="gris etiqueta centro">
            Frecuencia
        </td>
        
        <td class="col-prioridad">

                <select class="campo" name="frecuencia2">

                    <option></option>
                    <option>100HR</option>
                    <option>300HR</option>
                    <option>400HR</option>
                    <option>1000HR</option>
                    <option>1500HR</option>
                    <option>2000HR</option>
                    <option>3000HR</option>
                    <option>4000HR</option>
                    <option>8000HR</option>
                    <option>12000HR</option>
                    <option>OVERHAUL</option>

                </select>

            </td>
    </tr>

    <tr>

        <td>
            <input
                type="text"
                class="campo"
                name="operacion3">
        </td>

        <td class="gris etiqueta centro">
                Frecuencia
        </td>
        
        <td class="col-prioridad">

                <select class="campo" name="frecuencia3">

                    <option></option>
                    <option>100HR</option>
                    <option>300HR</option>
                    <option>400HR</option>
                    <option>1000HR</option>
                    <option>1500HR</option>
                    <option>2000HR</option>
                    <option>3000HR</option>
                    <option>4000HR</option>
                    <option>8000HR</option>
                    <option>12000HR</option>
                    <option>OVERHAUL</option>

                </select>

            </td>
    </tr>

</table>

     <div class="recomendaciones">

    <strong>
        ANTES DE INICIAR CUALQUIER LABOR TENER EN CUENTA LAS SIGUIENTES RECOMENDACIONES:
    </strong>

    <ul>

        <li>
            DILIGENCIAR DEBIDAMENTE LOS PERMISOS DE TRABAJO JUNTO CON SU ATS PARA LA ACTIVIDAD A EJECUTAR.
        </li>

        <li>
            PERMISO DE TRABAJO #

            <input
                type="text"
                class="permiso"
                name="permiso_trabajo"
                placeholder="Número del permiso">
        </li>

        <li>
            UTILICE LOS ELEMENTOS DE PROTECCIÓN PERSONAL NECESARIOS DE ACUERDO A ESTA ACTIVIDAD,
            GUANTES, CASCO, BOTAS, GAFAS, OVEROL.
        </li>

        <li>
            ANTES DE EJECUTAR CUALQUIER ACTIVIDAD EN EL EQUIPO ASEGÚRESE DE BLOQUEAR Y ETIQUETAR EL MISMO,
            ASÍ COMO DESENERGIZAR.
        </li>

        <li>
            CUALQUIER FUENTE DE PODER, SEA MECÁNICA, ELÉCTRICA, HIDRÁULICA O NEUMÁTICA.
        </li>

    </ul>

</div>
    <!-- ========================================= -->
    <!-- DATOS DEL TRABAJO -->
    <!-- ========================================= -->

    <table class="tabla-datos">

        <tr>

            <td class="titulo-celda">
                Fecha Inicio:
            </td>

            <td class="col-fecha">
                <input type="date" class="campo" name="fecha">
            </td>

            <td class="titulo-celda">
                Hora Inicio:
            </td>

            <td class="col-hora">
                <input type="time" class="campo" name="hora_inicio">
            </td>

            <td class="titulo-celda">
                Horómetro:
            </td>

            <td class="col-horometro">
                <input
                    type="number"
                    class="campo"
                    name="horometro">
            </td>
            <td class="titulo-celda">
                Prioridad:
            </td>

            <td class="col-prioridad">

                <select class="campo" name="prioridad">

                    <option></option>
                    <option>ALTA</option>
                    <option>MEDIA</option>
                    <option>BAJA</option>

                </select>

            </td>

        </tr>
            <td class="titulo-celda">
                Fecha de finalizacion:
            </td>

            <td class="col-fecha">
                <input type="date" class="campo" name="fecha_finalizacion">
            </td>

            <td class="titulo-celda">
                Hora final:
            </td>

             <td class="col-hora">
                <input type="time" class="campo" name="hora_final">
            </td>

            <td class="titulo-celda">
                especialidad:
            </td>
            <td colspan="3" class="col-especialidad">

                <select class="campo" name="especialidad">

                    <option>ELECTRICO</option>
                    <option>INSTRUMENTACIÓN</option>
                    <option>MÉCANICO</option>

                </select>

            </td>

        </tr>
        <!-- ========================================= -->
<!-- UBICACIÓN DEL EQUIPO -->
<!-- ========================================= -->

<table class="tabla-equipo">

    <!-- FILA DE TÍTULOS -->

    <tr>

        <td class="titulo-equipo">
            Ubicación Técnica
        </td>

        <td class="titulo-equipo">
            Descripción del equipo
        </td>

        <td class="titulo-equipo">
            Núm. Equipo SAP
        </td>

        <td class="titulo-equipo">
            Número Serie
        </td>

    </tr>

    <!-- FILA DE CAMPOS -->

    <tr>

        <td class="col-ubicacion">

            <select class="campo" name="ubicacion">

                <option value=""></option>

                <option>900-6 G</option>
                <option>900-6 C</option>
                <option>900-8 G</option>
                <option>900-8 C</option>
                <option>900-12 G</option>
                <option>900-12 C</option>
                <option>900-13 G</option>
                <option>900-13 C</option>
                <option>1200-7 G</option>
                <option>1200-7 C</option>
                <option>1200-9 G</option>
                <option>1200-9 C</option>
                <option>1200-3 G</option>
                <option>1200-3 C</option>
                <option>1200-3 T</option>
                <option>N/A</option>

            </select>

        </td>

        <td class="col-equipo">

            <input type="text" class="campo" name="equipo">

        </td>

        <td class="col-sap">


            <select class="campo" name="sap">

                <option value=""></option>
                <option>YF 026</option>
                <option>YF 027</option>
                <option>YF 030</option>
                <option>YF 031</option>
                <option>YF 038</option>
                <option>YF 039</option>
                <option>YF 040</option>
                <option>YF 041</option>
                <option>YF 060</option>
                <option>YF 061</option>
                <option>YF 144</option>
                <option>YF 145</option>
                <option>YF 144</option>
                <option>YF 912</option>
                <option>YF 913</option>
                <option>N/A</option>

               
            </select>

                
        </td>

        <td class="col-serie">

            <select class="campo" name="serie">

                <option value=""></option>
                <option>S 46212</option>
                <option>S 46211</option>
                <option>ISW 482</option>
                <option>ISW 480</option>
                <option>WCT 966</option>
                <option>WCT 965</option>
                <option>NTQ 294</option>
                <option>NTQ 295</option>
                <option>ISW 483</option>
                <option>ISW 481</option>
                <option>WCT 947</option>
                <option>WCT 949</option>
                <option>T 5792</option>
                <option>T 5793</option>
                <option>T 5794</option>
                <option>N/A</option>

               
            </select>

        </td>

    </tr>

</table>
        <!-- ========================================= -->
        <!-- SECCIÓN 2 -->
        <!-- ========================================= -->

         <div class="seccion">

            2. REPORTE TÉCNICO

        </div>
    
    <!-- ========================================= -->
<!-- ACTIVIDAD REALIZADA -->
<!-- ========================================= -->

<table class="tabla-reporte">

    <tr>

        <td class="titulo-reporte">

            ¿Qué actividad realizó al equipo?

        </td>

    </tr>

    <tr>

        <td>

            <textarea class="reporte-corto" name="actividad_realizada"></textarea>

        </td>

    </tr>

</table>    

     <table class="tabla-reporte">

    <tr>

        <td class="titulo-reporte">
            ¿Cómo quedó el equipo?
        </td>

    </tr>

    <tr>

        <td>

            <textarea class="reporte-tecnico" name="como_quedo"></textarea>

        </td>

    </tr>

</table>
    
    <table class="tabla-reporte">

    <tr>

        <td class="titulo-reporte">
            Recomendaciones y Pendientes
        </td>

    </tr>

    <tr>

        <td>

            <textarea class="reporte-tecnico" name="recomendaciones"></textarea>

        </td>

    </tr>
    
    </table>
        <!-- ========================================= -->
        <!-- SECCIÓN 3 -->
        <!-- ========================================= -->

         <div class="seccion">

            3. INFORME DE FALLA

        </div>
       
        <table class="tabla-falla">

        <!-- FILA DE TÍTULOS -->

        <tr>

        <td class="titulo-falla col-falla">
            Parte que falló (Modo de Falla)
        </td>

        <td class="titulo-falla col-causa">
            Causa probable de falla
        </td>

        <td class="titulo-falla col-parada">
            Parada
        </td>

        <td class="titulo-falla col-fuera">
            Tiempo fuera de servicio
        </td>

        <td class="titulo-falla col-reparacion">
            Tiempo de reparación
        </td>
    <tr>
    
    </tr>

        <td class="col-falla">

            <input type="text" class="campo" name="parte_fallo">

        </td>

        <td class="col-causa">

            <input type="text" class="campo" name="causa_falla">

        </td>

        <td class="col-parada parada">

        <label>
            <input type="radio" name="parada" value="Sí">
            Sí
        </label>

        <label>
            <input type="radio" name="parada" value="No">
            No
        </label>
        
        </td>


        <td class="col-fuera">

            <input type="text" class="campo" name="tiempo_fuera">

        </td>

        <td class="col-reparacion">

            <input type="text" class="campo" name="tiempo_reparacion">

        </td>

    </tr>
</table>

        <!-- ========================================= -->
        <!-- SECCIÓN 4 -->
        <!-- ========================================= -->

         <div class="seccion">

            4. REPUESTOS UTILIZADOS

        </div>
    
    <table class="tabla-repuesto">

        <!-- FILA DE TÍTULOS -->

        <tr>

        <td class="titulo-repuesto col-item">
            Ítem
        </td>

        <td class="titulo-repuesto col-repuesto">
            Descripción del repuesto
        </td>

        <td class="titulo-repuesto col-parte">
            Parte Número
        </td>

        <td class="titulo-repuesto col-cantidad">
            Cantidad
        </td>

    </tr>

        <!-- PRIMERA FILA DE DATOS -->
        <tr>
        <td><input type="text" class="campo" name="repuesto1_item"></td>
        <td><input type="text" class="campo" name="repuesto1_descripcion"></td>
        <td><input type="text" class="campo" name="repuesto1_parte"></td>
        <td><input type="number" class="campo" name="repuesto1_cantidad"></td>
    </tr>

    <tr>
        <td><input type="text" class="campo" name="repuesto2_item"></td>
        <td><input type="text" class="campo" name="repuesto2_descripcion"></td>
        <td><input type="text" class="campo" name="repuesto2_parte"></td>
        <td><input type="number" class="campo" name="repuesto2_cantidad"></td>
    </tr>

    <tr>
        <td><input type="text" class="campo" name="repuesto3_item"></td>
        <td><input type="text" class="campo" name="repuesto3_descripcion"></td>
        <td><input type="text" class="campo" name="repuesto3_parte"></td>
        <td><input type="number" class="campo" name="repuesto3_cantidad"></td>
    </tr>

    <tr>
        <td><input type="text" class="campo" name="repuesto4_item"></td>
        <td><input type="text" class="campo" name="repuesto4_descripcion"></td>
        <td><input type="text" class="campo" name="repuesto4_parte"></td>
        <td><input type="number" class="campo" name="repuesto4_cantidad"></td>
    </tr>

    <tr>
        <td><input type="text" class="campo" name="repuesto5_item"></td>
        <td><input type="text" class="campo" name="repuesto5_descripcion"></td>
        <td><input type="text" class="campo" name="repuesto5_parte"></td>
        <td><input type="number" class="campo" name="repuesto5_cantidad"></td>
    </tr>

    </table>


    <!-- ========================================= -->
    <!-- SECCIÓN 5 -->
    <!-- ========================================= -->

    <div class="seccion">

        5. NOMBRES Y TIEMPOS DEL PERSONAL TÉCNICO QUE EJECUTA LA ACTIVIDAD

    </div>

    <table class="tabla-personal">

        <tr>

            <td class="titulo-personal col-nombre">
                Nombre
            </td>

            <td class="titulo-personal col-apellido">
                Apellidos
            </td>

            <td class="titulo-personal col-fecha-trabajo">
                Fecha de Trabajo
            </td>

            <td class="titulo-personal col-horas">
                Horas trabajadas
            </td>

            <td class="titulo-personal col-extras">
                Horas Extras
            </td>

        </tr>

        <tr>

    <td>
        <input
            type="text"
            class="campo"
            name="tecnico_nombre"
            required>
    </td>

    <td>
        <input
            type="text"
            class="campo"
            name="tecnico_apellidos"
            required>
    </td>

    <td>
        <input
            type="date"
            class="campo"
            name="tecnico1_fecha"
            required>
    </td>

    <td>
        <input
            type="number"
            class="campo"
            name="tecnico1_horas">
    </td>

    <td>
        <input
            type="number"
            class="campo"
            name="tecnico1_extra">
    </td>

</tr>

        <tr>

    <td>
        <input
            type="text"
            class="campo"
            name="tecnico_nombre2">
    </td>

    <td>
        <input
            type="text"
            class="campo"
            name="tecnico_apellidos2">
    </td>

    <td>
        <input
            type="date"
            class="campo"
            name="tecnico2_fecha">
    </td>

    <td>
        <input
            type="number"
            class="campo"
            name="tecnico2_horas">
    </td>

    <td>
        <input
            type="number"
            class="campo"
            name="tecnico2_extra">
    </td>

</tr>
        <tr>

    <td>
        <input
            type="text"
            class="campo"
            name="tecnico_nombre3">
    </td>

    <td>
        <input
            type="text"
            class="campo"
            name="tecnico_apellidos3">
    </td>

    <td>
        <input
            type="date"
            class="campo"
            name="tecnico3_fecha">
    </td>

    <td>
        <input
            type="number"
            class="campo"
            name="tecnico3_horas">
    </td>

    <td>
        <input
            type="number"
            class="campo"
            name="tecnico3_extra">
    </td>

</tr>

        <tr>

    <td>
        <input
            type="text"
            class="campo"
            name="tecnico_nombre4">
    </td>

    <td>
        <input
            type="text"
            class="campo"
            name="tecnico_apellidos4">
    </td>

    <td>
        <input
            type="date"
            class="campo"
            name="tecnico4_fecha">
    </td>

    <td>
        <input
            type="number"
            class="campo"
            name="tecnico4_horas">
    </td>

    <td>
        <input
            type="number"
            class="campo"
            name="tecnico4_extra">
    </td>

</tr>
     
    </table>   

    <!-- ========================================= -->
    <!-- SECCIÓN 6 -->
    <!-- ========================================= -->

        <div class="seccion">

            6. VALIDACIONES

        </div>

        <table class="tabla-validacion">

</tr>

<tr>

    <td>

        <canvas
            id="firmaTecnico"
            width="238"
            height="90">
        </canvas>
        
        <hr class="linea-firma">

        <div class="titulo-firma">

            Nombre y/o Firma Técnico Ejecutante

        </div>

        <br>

        <button
            type="button"
            id="limpiarFirma"
            class="btn-limpiar">

        🗑

        </button>

        <button
            type="button"
            id="subirFirmaTecnico"
            class="btn-limpiar">

        🖼️

        </button>

        <input
            type="file"
            id="archivoFirmaTecnico"
            accept="image/*"
            style="display:none;">

    </td>

    <td>

        <canvas
            id="firmaSupervisor"
            width="238"
            height="90">
        </canvas>

        <hr class="linea-firma">

        <div class="titulo-firma">

            Nombre y/o Firma del Supervisor / Ing. Mtto

        </div>

        <br>

        <button
            type="button"
            id="limpiarSupervisor"
            class="btn-limpiar">

        🗑

        </button>

        <button
            type="button"
            id="subirFirmaSupervisor"
            class="btn-limpiar">

        🖼️

        </button>

        <input
            type="file"
            id="archivoFirmaSupervisor"
            accept="image/*"
            style="display:none;">

    </td>

    <td>

        <canvas
            id="firmaCoordinador"
            width="238"
            height="90">
        </canvas>

        <hr class="linea-firma">

        <div class="titulo-firma">

           Nombre y/o Firma Coordinador Operaciones

        </div>

        <br>

        <button
            type="button"
            id="limpiarCoordinador"
            class="btn-limpiar">

        🗑

        </button>

        <button
            type="button"
            id="subirFirmaCoordinador"
            class="btn-limpiar">

        🖼️

        </button>

        <input
            type="file"
            id="archivoFirmaCoordinador"
            accept="image/*"
            style="display:none;">

    </td>

</tr>

<tr>

    <td>

        Fecha:

        <input
            type="date"
            class="campo-fecha"
            name="fecha_firma_tecnico">

    </td>

    <td>

        Fecha:

        <input
            type="date"
            class="campo-fecha"
            name="fecha_firma_supervisor">

    </td>

    <td>

        Fecha:

        <input
            type="date"
            class="campo-fecha"
            name="fecha_firma_coordinador">

    </td>

</tr>

<input
    type="hidden"
    name="firma_tecnico"
    id="firma_tecnico">

<input
    type="hidden"
    name="firma_supervisor"
    id="firma_supervisor">

<input
    type="hidden"
    name="firma_coordinador"
    id="firma_coordinador">
</table>

<div class="botones">

    <button type="submit" class="btn-guardar">

        💾 Guardar Orden

    </button>

</div>

</div>      <!-- Cierra la hoja -->

</form>     <!-- Cierra el formulario -->

<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"></script>

<script src="{{ url_for('static', filename='js/firma.js') }}"></script>

</body>

</html>
